# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
.env


# Database
*.db
*.sqlite3
database/

# Vercel
.vercel
.now

# Temporary files
*.tmp
*.temp
.DS_Store
*.swp
*.swo
temp/

# IDE
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Large directories to exclude from deployment
datasets/
backup/

